/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";

/* LiveView specific classes for your customizations */
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 1000px;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}

.btn--add {
  width: 2em;
  height: 2em;
  line-height: 1em;
  background-color: #56db56;
  border-color: greenyellow;
  padding: 0;
  margin: 0;
}


.budget-show-header {
  display: flex;
  .budget-title {
    flex-grow: 2;
  }
  .budget-timer {
    text-align: center;
    font-size: 2em;
    font-family: "Fira Code Mono", monospace;
    background-color: #2c2c37;
    color: #8be3f5;
    flex-basis:4em;
    height: 1.5em;
  }
}

.budget-show-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .budget-show-allotments {
    flex-basis: 460px;
  }
  .budget-show-logs {
    flex-basis: 420px;
  }
  .budget-line {
    margin-bottom: 0.1em;
    .budget-line-category {
      margin-bottom: 0;
      max-width: 14em;
    }
    .budget-line-form {
      margin-bottom: 0;
    }
    .budget-line-percentage {
      display: inline-block;
      text-align: center;
      width: 4em;
    }
    .budget-line-remaining {
      &.budget-line-remaining--overbudget {
        background-color: #f86664;
      }
      &.budget-line-remaining--underbudget {
        background-color: #bce8f1;
      }
      display: inline-block;
      text-align: center;
      width: 3em;
    }
    .budget-line-hour {
      width: 6em;
      margin-bottom: 0;
    }
  }
  .time-log {
    margin-bottom: 0.1em;
    .time-log-form {
      margin-bottom: 0;
    }
    .time-log-budget-line-id {
      margin-bottom: 0;
    }
    .time-log-hour {
      width: 5em;
      margin-bottom: 0;
    }
    .time-log-day {
      height: 2em;
      margin-bottom: 0;
    }

  }
}